services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    network_mode: 'host'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Lisbon
    volumes:
      - '/home/${USER}/server/jellyfin/config:/config'
      - '/home/${USER}/server/jellyfin/cache:/cache'
      - '/home/${USER}/data/media:/data/media'
    restart: unless-stopped
